@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Roboto:wght@300&display=swap');
/* || VARIABLES */
:root{
    --BG-COLOR:#272727;
    --FG-COLOR: #ffffff;
    --CARD-YELLOW:rgb(253, 234, 122); 
    --CARD-BLUE:rgb(122, 137, 253); 
    --LOGO-URL: url("images/snowflake-white.svg");
    --BG-LOGO-URL: url("images/snowflake-gray.svg");
    --LOGO-DARK-URL: url("images/snowflake-gray.svg");
    --LOGO-LIGHT-URL: url("images/snowflake-white.svg");
}

@media (prefers-color-scheme:light){
    :root{
        --BG-COLOR:#e8e8e8;
        --FG-COLOR: #000000;
        --CARD-YELLOW:rgb(253, 234, 122); 
        --CARD-BLUE:rgb(122, 137, 253);
        --LOGO-URL: url("images/snowflake-gray.svg");
        --BG-LOGO-URL: url("images/snowflake-white.svg");

    }

}
/*| CSS RESET */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
}

a {
    color: var(--FG-COLOR);
    text-decoration: none;
}

img {
    pointer-events: none;
    display: block;
}

button {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

/*| UTILITY CLASSES */

.no-scroll {
    overflow-y: hidden;
}

.no-wrap {
    white-space: nowrap;
}

/*| GENERAL STYLING */

body {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;

    min-height: 100vh;
}


header,
main,
footer {
    width: 100%;
}

header,
.mobile_menu,
footer {
    background-color: var(--BG-COLOR);
    color: var(--FG-COLOR);
    padding: 0 8vw;
}

header {

    display: flex;
    align-items: center;
    justify-content: space-between;

    /* height: 4rem; */
    padding-top: 10px;
    padding-bottom: 10px;
}

header .home_link {
    font-weight: 700;
    text-decoration: none;
    color: var(--FG-COLOR);

    display: flex;
    align-items: center;
    gap: 1rem;
}

header .home_link .logo {
    height: 1em;
    aspect-ratio: 1;
    background-image:var(--LOGO-URL);
}


header .links {
    display: flex;
    align-items: center;
    gap: 1.5rem;

    display: none;
    /* height: 100%; */
    /* order: */
}

header .links>a {
    color: var(--FG-COLOR);

    font-size: 0.8rem;
    font-weight: 900;
    text-decoration: none;
    letter-spacing: 0.05rem;

    padding: 1.5rem 0;
    height: 100%;

    position: relative;
}

header .links>a:after {
    position: absolute;
    bottom: 25%;
    left: 0;
    content: "";
    width: 100%;
    height: 2px;


}

header .links>a:hover:after {

    background-color: #fff;
}

header .menu_btn {
    /* width: 20px; */
    /* height: 100%; */
    font-size: 1.5rem;
    color: var(--FG-COLOR);

}

.mobile_menu {
    background-color: var(--BG-COLOR);
    width: 100vw;
    height: 100vh;

    position: fixed;
    top: 0;
    left: 105%;
    z-index: 1;
    overflow-y: scroll;
    transition: left 0.5s ease-out;

    background-image: var(--BG-LOGO-URL);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.mobile_menu.active {
    left: 0%;
}

.mobile_menu .header {
    height: 3rem;
    margin-top: 1rem;
    margin-bottom: 2rem;

    display: flex;
    align-items: center;
    justify-content: space-between;

}

.mobile_menu .header .home_link {
    font-weight: 700;
    text-decoration: none;
    color: var(--FG-COLOR);

    display: flex;
    align-items: center;
    gap: 1rem;
}

.mobile_menu .header .home_link .logo {
    height: 2rem;
    aspect-ratio: 1;
    background-image: var(--LOGO-URL);
}

.mobile_menu .header .close_btn {
    font-size: 1.6rem;
    font-weight: 900;
    color: var(--FG-COLOR);
}

.mobile_menu .links>a {
    display: block;
    color: var(--FG-COLOR);

    margin-bottom: 2rem;

    font-size: 1.5rem;
    text-transform: lowercase;
    text-transform: capitalize;
}

main {
    flex-grow: 1;
    min-height: 500px;
}

.hero>.hero_container,
.banner {
    padding: 2rem;
}

/*|| HERO SECTION */
.hero {
    height: 500px;
    background: gray;
    background-image: url('images/hero_bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    color: #fff;
}

.hero>.hero_container {
    display: flex;
    flex-direction: column;
    justify-content: end;

    height: 100%;

    background-image: linear-gradient(to top, #3a3a3aa1, #ffffff19);
}

.hero p {
    font-size: 3rem;
    font-weight: 500;
}

.hero .readmore_link {
    font-size: 1rem;
    padding: 1rem 2rem;
    border: 2px solid #fff;
    color:#fff;
    width: fit-content;
}

/*|| BANNER */
.banner {
    background-color: #000000;
    background-image: linear-gradient(#000000cf, #000000cf),
        url('images/snowflake-white.svg');

    background-repeat: repeat no-repeat;
    background-position: center center;
    background-size: cover;

    display: grid;
    place-content: center;

    height: 300px;
}

.banner .text {
    display: block;
    color: #fff;
    font-size: 2.5rem;
}


/*|| WORK */

.work {}

.work .cards {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.work .cards .card {
    width: 100%;
    display: flex;
    align-items: start;
}

.work .card .image {
    object-fit: cover;
    aspect-ratio: 0.8;
}

.work .card>.detail {
    padding: 2rem;
    background-color: var(--CARD-YELLOW);
    color: #000;

    display: flex;
    align-items: center;
    justify-content: center;
}

.work .card>.detail.blue {
    background-color: var(--CARD-BLUE);
}

.work .card>.detail .author_container {
    margin-bottom: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.4em;
    font-weight: 700;
}

.work .card>.detail .title {
    color: #000;
    display: block;
    font-size: 2.5em;
    font-weight: 900;
}

.work .card>.detail .sub-title {
    display: block;
    font-size: 1.1em;
}

.work .card>.detail .read_case_study_link {
    color: #000;
    font-size: 1.2em;
    font-weight: 900;
    text-decoration: underline 1px;
    text-underline-offset: 4px;
    text-transform: uppercase;
}

.work .card {
    flex-direction: column;
}

.work .card.reverse {
    flex-direction: column-reverse;
}

.work .card .image,
.work .card .detail {
    width: 100%;
}

.work .card .detail {
    font-size: 0.8rem;
}


.work .card.reverse .detail {
    order: -1;
}

/*|| FOOTER */

footer {
    font-size: 1rem;
    font-weight: 900;
    padding-top: 3rem;

    overflow: hidden;
}

.footer-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* flex-direction: row;
    justify-content: space-between; */
}

.footer-top .footer_links,
footer .footer_socials {
    width: 100%;
}

.footer-top .footer_links .main_links {
    display: flex;
    flex-flow: column nowrap;
    gap: 1rem;
    letter-spacing: 0.2rem;
}

.footer-top .footer_links .extra_links {
    margin: 3rem 0;
    font-weight: 500;

    >a {
        display: block;
        margin-bottom: 1rem;
    }
}



.footer-top .footer_socials {
    display: flex;
    flex-direction: column;
    align-items: center;

    position: relative;
}

.footer-top .footer_socials .title {
    text-transform: uppercase;
    letter-spacing: 0.2rem;
}

.footer-top .footer_socials .social_links {
    font-weight: initial;
    font-size: 2rem;
}


.footer-top .footer_socials .logo {

    width: 100%;
    aspect-ratio: 1;
    margin-top: 3rem;
    background-image: var(--LOGO-DARK-URL);
    display: block;
}

.footer-bottom {
    margin-top: 2rem;
}

.footer-bottom .footer_copyright {
    font-weight: 500;
    display: block;
    margin-bottom: 2rem;
    text-align: center;

    >a {
        text-decoration: underline;
        text-underline-offset: 5px;
    }
}

/*|| SMALL */
/* @media screen and (min-width: 576px) {
    
} */

/*|| MEDIUM */
@media screen and (min-width: 600px) {


    .work .card {
        flex-direction: row;
    }

    .work .card.reverse {
        flex-direction: row;
    }

    .work .card .image,
    .work .card .detail {
        width: 50%;
        /* height:100%; */
    }
    
    .work .card .image {
        aspect-ratio: unset;
    }

    /* .work .card{
        height: 500px;
    } */

    
    .work .card .detail {
        padding: 7rem;
        font-size: 1.2rem;
    }

    .footer-top {
        display: flex;
        flex-direction: row;
        align-items: start;
        justify-content: space-between;
    }

    .footer-top .footer_links,
    footer .footer_socials {
        width: inherit;
    }

    .footer-top .footer_socials .logo {
        width: 260px;

    }

}

/*|| LARGE */
@media screen and (min-width: 992px) {
    .footer-top .footer_links .main_links {
        flex-flow: row nowrap;

    }

    .footer-top .footer_socials .logo {
        width: 400px;
    }

    .banner {
        height: 350px;
    }

    
    .work .card .detail {
        font-size: 1.2rem;
    }

}

/*|| XL */
@media screen and (min-width: 1200px) {
    header .links {
        display: flex;
    }

    header .menu_btn {
        display: none;
    }

    .work .card .detail {
        font-size: 1.2rem;
    }

    .footer-top .footer_socials .logo {
        width: 600px;
    }
}