body{
    /* font-family:'Courier New', Courier, monospace; */
    font-family:monospace;
    padding: 1rem 20rem;
    font-size:1.5rem;
}

h2{
    font-weight: 900;
}

p{
    font-weight: 100;
    line-height: 1.5em;
    word-spacing: 0.2em;
    /* letter-spacing: 0.01em; */

}

span{
    font-style:oblique;
    text-decoration: underline;
}
span#crossed{
    text-decoration: line-through;
}