<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accordion</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <h1>Accordion / Collapsibles</h1> 
    <section class="accordion">
        <header>
            <p class="title">Section 1</p>
            <span class="toggle_icon">+</span>
        </header>
        <div class="content_container">
            <div class="content">Hello Lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusantium, incidunt
                cum qui quos esse eius quibusdam a? Dolor praesentium consequuntur accusamus natus. Culpa amet facere
                possimus consectetur, exercitationem dolorum temporibus.</div>
        </div>
    </section>
    <section class="accordion">
        <header>
            <p class="title">Section 2</p>
            <span class="toggle_icon">+</span>
        </header>
        <div class="content_container">
            <div class="content">Hello Everyone</div>
        </div>
    </section>
    <script src="script.js"></script>
</body>

</html>